// ui
$white: #fff;
$green: #4a9999;
$black: #000;
$icon-reset: #000;
$border-main: #b0b1b4;

// text
$logo: #000;
$title-footer: #000;

// bg
$bg-main: #111;
$bg-block: #f1eeee;
$breakpoints: (
    xs: 412px,
    sm: 768px,
    md: 1024px,
    lg: 1440px,
    xl: 1920px,
);
